/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../assets/images/road.jpg');
    background-position-y: -250px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

.ErrorList {
    color: darkred;
}

.jumbotron {
    background-color: rgba(186, 186, 186, 0.8);
}

.AnswerList {
    text-align:center;
    display:flex;
    justify-content:center;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 992px) {
    .jumbotron {
        margin-top: 20px;
    }

    .RemoveWhenBig {
        display: none;
    }

    .body-content {
        padding: 0;
    }

    .QuestionText {
        font-size: xx-large;
    }
}

/* Responsive: Portrait tablets and down */
@media screen and (max-width: 992px) {

    .RemoveWhenSmall {
        display: none;
    }

    .SizeLogoImageWhenSmall {
        width: 50%;
        height: 50%;
    }

    .QuestionText {
        font-size: large;
    }
}
